body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#home{
    height: 100vh;
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu{
    height: 5vh;
    background-color: rgb(158, 103, 103);
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px 20px;
}

.lista{
display: flex;
    gap: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.content{
    background-color: rgb(155, 116, 122);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.child-content1{
    background-color: rgb(181, 137, 187);
    border-radius: 20px;
    margin: 5px;
    padding: 5px 10px;
    height: 50%;
    display: flex;
    align-items: center;
    text-align: justify;

}
.img1{
    margin: 15px 10px;
   border-radius:100px;
    height: 200px;
    width: 195px;
    object-fit: cover;
}
    
.child-content2{
    background-color: rgb(167, 103, 154);
    border-radius: 20px;
     height: 50%;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 5px 10px;
    margin: 5px;
}

.img2{
    margin: 15px 10px;
    border-radius:100px;
    height: 200px;
    width: 195px;
    object-fit: cover;
}

.child-content3{
    background-color: rgb(140, 98, 138);
    border-radius: 20px;
     height: 50%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    text-align: justify;
}
.img3{
    margin: 15px 10px;
    border-radius:100px;
    height: 200px;
    width: 195px;
    object-fit: cover;
}

header nav ul li button {
    border: none;
    cursor: pointer;
}

.formularioContacto{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
 background-color: rgb(172, 155, 173);  
}

.imgContact{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 3px;
}

.campo{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    margin-bottom: 16px;
     margin-right: 200px;
}

.campo input{
    gap: 20px;
    padding-bottom: 10px 10px;
}

#home {
    background-color: #000;
    animation: fondoSuave 4s ease-in-out infinite alternate;
}

@keyframes fondoSuave {
    from {
        background-color: rgb(169, 141, 141);
    }
    to {
        background-color: #834c4c;
    }
}