body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.home{
    height: 100vh;
    background: #111;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu{
    height: 5vh;
    background-color: red;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px 20px;
}

.lista{
display: flex;
    gap: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

.content{
    background-color: blueviolet;
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.child-content1{
    background-color: lightblue;
    border-radius: 20px;
    margin: 5px;
    padding: 5px 10px;
    height: 50%;
    display: flex;
    align-items: center;
    text-align: justify;

}
.img1{
    margin: 15px 10px;
   border-radius:100px;
    height: 200px;
    width: 195px;
    object-fit: cover;
}
    
.child-content2{
    background-color: rgb(203, 238, 236);
    border-radius: 20px;
     height: 50%;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 5px 10px;
    margin: 5px;
}

.img2{
    margin: 15px 10px;
    border-radius:100px;
    height: 200px;
    width: 195px;
    object-fit: cover;
}

.child-content3{
    background-color: lightgray;
    border-radius: 20px;
     height: 50%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 5px;
    text-align: justify;
}
.img3{
    margin: 15px 10px;
    border-radius:100px;
    height: 200px;
    width: 195px;
    object-fit: cover;
}